@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


     body 
     {
         font-family: 'Roboto', sans-serif;
       margin : 0px ;  
       
     }
    
    .header 
    {
       background-color : #0062ff ;
       display : flex ;
       justify-content :space-between ;
       
       align-items: center;
       padding :10px 50px ;
         

     }
     .logo
     {

      width :100px;
     }
     .links a 
     {
        
     
    color : white ;
    text-decoration: none ;
    padding: 10px 18px;
    border-radius: 20px;
    
    transition: background-color 0.3s;
        
        
     }

     .links a:hover 
     {
        background-color : #85a6ff ;
     }

     .btn 
     {

        
        
        font-size : 15px ;
        color : white ;
        background-color: rgb(255, 140, 0);
        border-radius: 30px ;
        padding : 10px 20px ; 
        border : none ;
        border-radius : 20px ;
        cursor : pointer ;
        transition: background-color 0.3s;
        
        
     }

     .btn:hover 
        {
           background-color : #ffb494 ;
        } 

     .name h1 
     {
        color : white ;
       padding : 0px 800px 0px 0px ;
     }
     .Content 
     {
        background-color : #0062ff ;
       color : white ;
       text-decoration : none ;
       display : flex ;
       justify-content :space-between ;
       align-items: center;
       padding : 50px 20px ;
       border-radius : 0px 0px 70px 70px ;  
       


     }

     
     .content-btn 
     {
        color : white ;
        padding : 10px 15px ;
        background-color :rgb(255, 140, 0) ;  
        border : none ;
        border-radius : 30px ;
        cursor: pointer;
        position: absolute;
        left : 180px;
        
        
        
     }

     .content-input
     {
      
      padding : 10px ;
      border-radius : 30px ;
      border : none ;
      margin-left: 5px;
      outline: none;

     }
     .content-btn:hover 
     {

        background-color : #ffb494 ;
        transition: .3s ;
     }

     .content-text  
     {
        width : 600px ;
        margin-left : 20px ;
        

     }

     .content-img
     {

       margin-right: 10px;
        border-radius: 30px ;
     }

   .Trending
   {
        margin : 50px 60px ;
   }
   .Trending span
   {
        color : rgb(238, 0, 0) ;
   }

   .btn-trending
   {
      color : white ;
        padding : 10px 15px ;
        background-color :rgb(255, 140, 0) ;  
        border : none ;
        border-radius : 30px ;
        cursor: pointer;
        transition: .3s;


   }
   .btn-trending:hover
   {
      
        background-color :#ffb494 ;  
   }
   .Trending-header
   {
     display: flex;
     justify-content: space-between;
     align-items: center;
 

   }

   .Trending-header h1
   {
     margin-top: 0px;
      

   }

   .Trending-cards
   {
    display: flex;
    gap: 20px;
     
   }
   .Trending-cards-img 
   {
    width: 200px ;
    display: flex;
    gap: 20px;
    border-radius: 20px 20px 0px 0px ;
    

   }

   

   .Card
   {
    width: 200px;
    background-color: rgb(184, 184, 184);
    border-radius: 20px 20px 20px 20px;
     
}
   .card-info img
   {
     width : 50px ;
   }

   .card-info
   {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 10px 10px;
        
   }

   .card-name
   {

        font-size: 10px ;
        
   }

   .card-name h2
   {

        margin: 0px ;
        
   }



